.LeftNav {
    padding: 10px 20px;
    width: 250px;
    margin-right: 20px;
    position: relative;
    background-color: #fff;
}

.all {
    margin-bottom: 10px;
    width: 100%;
    
}

.allTasks_text {
	font-size:20px;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
}

.allTasks p:hover {
	background-color: #303fa0;
	transition: 1s;
	border-radius: 3px;
	margin-right: 0;
	margin-left: 0;
	padding: 0 10px;
}


.allTasks  a:hover {
	color:#fff;
	transition: 1s;
}

.allTasks  a {
	color:#000;
}
