.posts {
    position: relative;
    max-height: 500px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 27%;
    border: 1px solid #9E9E9E;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.post__text {
    font-size: 14px;
    word-wrap: break-word;
}
.posts__link {
    font-size: 24px;
    text-decoration: none;
    word-wrap: break-word;
    color: #424242;
}
.posts__link:hover {
    color: #3F51B5;
}
.posts__rating {
    font-size: 22px;
    color: #424242;
}
.genre__list {
    display: flex;
    padding-left: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
}
.genre__item {
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #3F51B5;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}
.delete-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 16px;
    height: 16px;
    opacity: 0.5;
}
.delete-btn:hover {
    opacity: 1;
}
.delete-btn:before, .delete-btn:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
}
.delete-btn:before {
    transform: rotate(45deg);
}
.delete-btn:after {
    transform: rotate(-45deg);
}
