* {
  margin: 0;
  padding: 0;
}

.cart {
  width: 100%;
  margin: 20px auto 0 auto;
  background: #fff;
  padding: 20px;
}

.cart_form {
  width: 100%;
  border: 1px solid #ccc;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: none;
  box-sizing: border-box;
  flex-grow: .8;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

img {
  width: 20px;
  /*position: absolute;*/
}

.celendar {
  right: 40px;
  top: 15px;
}

.btn-floating {
  width: 30px;
  height: 30px;
}

.cart button {
  border: none;
  background-color: transparent;
}

.cart button:focus {
  background-color: transparent;
}

.btn-floating i {
  line-height: 30px;
}

.star {
  position: relative;
  visibility: hidden;
  font-size: 25px;
  cursor: pointer;
  margin-left: 10px;
}

.star:before {
  content: "\2606";
  position: absolute;
  visibility: visible;
  top: -8px;
  color: #ff5622;
}

.star:checked:before {
  content: "\2605";
  position: absolute;
  color: #ff5622;
}

.cart [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  opacity: 1;
  left: auto;
  right: 20px;
}

.add-task {
  width: calc(100% - 150px) !important;
}

.cart-form__controls {
  width: 60px;
}

.btn-floating {
  z-index: 0;
}