* {
    margin:0;
    padding: 0;
}

.cart {
   width: 90%;
   margin:0 auto;

 -webkit-box-shadow: 3px 4px 2px -1px rgba(174,178,204,1);
    -moz-box-shadow: 3px 4px 2px -1px rgba(174,178,204,1);
    box-shadow: 3px 4px 2px -1px rgba(174,178,204,1);
/*   border: 1px solid #ccc;*/
   background: white;
   padding:7px 10px;
}
.cart_form {
   width: 90%;
   border: 1px solid #ccc;  
   margin:20px auto;
  position: relative;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;

   
}
input[type="text"] {
   /*width: 100%;*/
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
/*    border: 1px solid #ccc;
*/    
  border-bottom: none;
   box-sizing: border-box;
   flex-grow: .8;
}

input[type=text]:focus:not([readonly]) {
   border-bottom: none;
   box-shadow: none;
}

img {
 width: 20px;
 /*position: absolute;*/
}

.celendar {
   right: 40px;
   top: 15px;
}


/*.plus {
   position: absolute;
   left: 0;
   top: 0;
}*/
.btn-floating {
   width: 30px;
   height: 30px;
}

.cart button {
   border:none;
   background-color: transparent;
}

.cart button:focus {
   background-color: transparent;
}


.btn-floating i {
   line-height: 30px;
}

.star {
   right: 10px;
   top: 17px;
}
.star {
   visibility:hidden;
   font-size:30px;
   cursor:pointer;
}

.star:before {
  content: "\2605";
  position: absolute; 
  visibility:visible;
} 
  
.star:checked:before {
  content: "\2606";
  position: absolute; 
}

.cart [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
opacity:   1;
left:  auto;
right:  20px;

}
