.container {
  margin: 0 auto;
  width: 80%;
}

.posts__container {
  display: flex;
  -webkit-box-shadow: 9px 15px 45px -8px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 9px 15px 45px -8px rgba(0, 0, 0, 0.69);
  box-shadow: 9px 15px 45px -8px rgba(0, 0, 0, 0.69);
  background-color: #fff;
}

.posts__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
}

.posts__adding {
  width: 30%;
}

.main {
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 80px);
}

.managerPlace {
  width: 80%;
}


