.container__body {
    margin: 0 auto;
    width: 80%;
    display: flex;  
    justify-content: space-between;
}
.posts__container {
    display: flex;
}
.posts__body {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.posts__adding {
    width: 30%;
}