.LifeItem {
  margin-bottom: 15%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LifeItem_empty {
  color: #9a9999;
}

.LifeItem a {
  color: grey;
}

.LifeItem a:hover {
  color: #303fa0;
}


