.LifeItem {
    margin-bottom: 15%;
    width: 120px;
  	font-family: 'Roboto', sans-serif;
  	color:#828282;
  	font-weight: 900;
  	cursor: pointer;	
}

.LifeItem :hover {
	transition: 0.5s;
	color:#303fa0;
}


