.done {

}

.garb {

}

.post-item {
  width: 100%;
  display: flex;
  align-items: center;
  max-height: 500px;
  margin-bottom: 20px;
  padding: 10px;
}

.post-item_hidden {
  display: none;
}

.post-item:hover {
  background-color: #c7c7ff;
  border-radius: 3px;
/*  cursor:pointer;*/
  transition: 0.5s;
  font-weight: 900;
  color:#2d1e79;
}

.post-item__text {
  width: calc(100% - 130px);
}

.post-item__info {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.post__text {
  font-size: 14px;
  word-wrap: break-word;
}

.posts__link {
  font-size: 24px;
  text-decoration: none;
  word-wrap: break-word;
  color: #a09a9a;

}

.posts__link_active {
  color: #068e05;
}

.posts__rating {
  font-size: 22px;
  color: #424242;
}

.genre__list {
  display: flex;
  padding-left: 0;
  /*    justify-content: flex-start;
      flex-wrap: wrap;*/

  list-style-type: none;
}

.genre__item {
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #3F51B5;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.star__item{
  position: relative;
  visibility: hidden;
  font-size: 25px;
  cursor: pointer;
  margin-left: 10px;
}

.star__item:before {
  content: "\2606";
  position: absolute;
  visibility: visible;
  top: -13px;
  right: 25px;
  color: #ff5622;
}

.star__item:checked:before {
  content: "\2605";
  position: absolute;
  color: #ff5622;
}

.post-item__info [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  opacity: 1;
  left: auto;
  right: 20px;
}


.delete-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.delete-btn:hover {
  opacity: 1;
}

.delete-btn:before, .delete-btn:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}

.delete-btn:before {
  transform: rotate(45deg);
}

.delete-btn:after {
  transform: rotate(-45deg);
}

.post-item__container {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
}