.Important {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.important_text {
  cursor: pointer;
	font-size:20px;
	margin-top: 15px;color:#000;
}

.important_text:hover {
	transition: 1s;
	color:#e1e1e1;
	cursor: pointer;	
}

.important_text-disable {
  color:grey;
}
/*.greyColor {
	color:#e1e1e1;
}*/



