.Important {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.important_text {
	font-size:20px;
	margin-top: 15px;
}

.important_text{
	margin-right: 10px;
	margin-left: 10px;
}

.Important p:hover {
	background-color: #303fa0;
	border-radius: 3px;
	margin-right: 0;
	margin-left: 0;
	padding: 0 10px;
	transition: 1s;
}

.Important  a:hover {
	color:#fff;
	transition: 1s;
}

.Important  a {
	color:#000;
}

